@media screen and (min-width: 320px) and (max-width: 570px)
{
    #clock
    {
            /* margin: auto; */
            font-size: 50px;
            margin: 10px;
            width: 290px;
        
    }
    #wrapper
    {
        
            font-size: 21px;
            height: 20px;
        
    }


}